@charset "utf-8";
/* CSS Document */
body,h1,h2,h3,h4,h5,h6,ul,li,dl,dd,p,input,textarea{margin:0;padding:0;}
ul,ol{list-style:none;}
a{text-decoration:none;}
img,input{border:none;}
.clear{clear:both;}
i{font-style:normal;}
body{font-family:arial,"Microsoft YaHei","宋体";}
.inner{width:1210px;margin:0 auto;}
a:hover{color:#c81623;}
.clearfix:after{content:"200B";display:block;height:0;clear:both;font-size:0;}
.clearfix{*zoom:1;}

.header .top{background:#f1f1f1;height:30px;}
.header .address{float:left;}
.header .address a{font-size:12px;color:#666;line-height:30px;height:30px;font-family:"宋体";}
.header .top ul{float:right;}
.header .top ul li{float:left;}
.header .top ul .line{position:relative;margin-top:9px;}
.header .top ul .line:before{content:"";width:1px;height:12px;background:#ddd;position:absolute;right:0;top:0;}
.header .top ul li a{font-size:12px;color:#666;line-height:30px;height:30px;font-family:"宋体";padding:0 10px;display:inline-block;}
.header .top ul li .login{padding-right:5px;}
.header .top ul li .sign{color:#c81623;padding-left:0;}
.header .top ul li span{width:15px;height:20px;display:block;float:left;background:url(../images/jd2015img.png);margin-top:5px;margin-right:3px;}
.header .top ul li a:hover{color:#c81623;}
.header .top ul li a:hover span{background:url(../images/jd2015img.png) 0 -25px;}
.header .top ul .active-bg:hover{background:#fff;}
.header .top i{width:9px;height:5px;display:inline-block;line-height:0;overflow:hidden;font-family:consolas;margin-left:10px;transition:all 0.2s;}
.header .top a:hover i{transform:rotateZ(180deg);}

.header .logo{width:270px;height:60px;padding:20px 92px 0 0;float:left;}
.header .form{float:left;padding-top:25px;}
.form .text{padding: 0 4px;font-size:12px;color:#666;line-height:32px;height:32px;width:450px;border:2px solid #b61d1d;float:left;}
.form .submit{font-size:15px;color:#fff;line-height:36px;height:36px;width:80px;background:#b61d1d;float:left;cursor:pointer;}
.header .tags a{font-size:12px;color:#666;line-height:28px;height:28px;margin-right:10px;}
.header .tags .active{color:#c81623;}
.header .tags a:hover{color:#c81623;}
.header .tags{overflow:hidden;width:550px;height:28px;}
.header .buy{width:139px;height:34px;border:1px solid #dfdfdf;margin-top:25px;background:#f9f9f9 url(../images/jd2015img.png) no-repeat 18px -48px;float:right;margin-left:104px;position:relative;}
.header .buy a{font-size:12px;color:#666;line-height:34px;height:34px;font-family:"宋体";margin-left:44px;}
.header .buy i{float:right;margin-right:11px;line-height:34px;color:#b4b4b4;font-family:consolas;display:inline-block;}
.header .buy span{position:absolute;left:104px;top:-5px;font-size:12px;line-height:14px;color:#fff;height:14px;border-radius:6px 6px 6px 0;background:#c81623;padding:0 5px;display:inline-block;}
.header .bot .list{float:left;font-size:15px;color:#fff;height:44px;line-height:44px;background:#b1191a;width:200px;padding-left:10px;}
.header .bot ul {float:left;}
.header .bot ul li{float:left;padding:0 20px;}
.header .bot ul li a{font-size:16px;color:#333;line-height:42px;height:42px;}
.header .bot{border-bottom:2px solid #b1191a;}
.page1 .nav-list ul{width:210px;float:left;height:466px;background:#c81623;}
.page1 .nav-list ul li{border-left:1px solid #b1191a;height:31px;padding-left:10px;color:#fff;line-height:31px;position:relative;}
.page1 .nav-list ul li h3{width:172px;overflow:hidden;font-size:14px;font-weight:normal;}
.page1 .nav-list ul li a{color:#fff;}
.page1 .nav-list ul li i{position:absolute;right:14px;top:0;font-family:consolas;}
.page1 .nav-list ul .act{background:#fff;}
.page1 .nav-list ul .act a{color:#c81623;}
.page1 .nav-list ul .act i{color:#c81623;}


.page1 .pic-mid{float:left;width:730px;height:454px;overflow:hidden;margin:12px 10px 0 10px;position:relative;}
.page1 .pic-mid ul{width:4380px;height:454px;position:absolute;left:0;top:0;}
.page1 .pic-mid ul li{float:left;position:absolute;}
.page1 .pic-mid ol{position:absolute;right:20px;bottom:20px;color:red; z-index: 9998;}
.page1 .pic-mid ol li{float:left;margin-right:5px;width:20px;height:20px;border:1px solid red;border-radius:50%;background:#fff;font:12px/20px arial;color:red;cursor:pointer;text-align:center;}
.page1 .pic-mid ol .normal{background:#fff;color:red;transform:scale(0.9);text-align:center;vertical-align:middle;transition:all 1s;}
.page1 .pic-mid ol .act{background:red;color:#fff;transform:scale(1.2);text-align:center;vertical-align:middle;transition:all 1s;}

.page1 .text{float:right;}
.page1 .news{width:248px;border:1px solid #e4e4e4;margin-top:12px;maigin-left:10px;padding-bottom:5px;}
.page1 .news a{color:#666;}
.page1 .news h2{font-size:14px;color:#666;line-height:32px;height:32px;border-bottom:1px dotted #e4e4e4;padding-left:15px;font-weight:normal;}
.page1 .news h2 span{font-size:12px;color:#666;line-height:32px;height:32px;float:right;padding-right:15px;}
.page1 .news h2 span:hover{color:#c81623;}
.page1 .news p{font-size:12px;color:#666;line-height:24px;height:24px;font-family:"宋体";padding-left:15px;vertical-align:top;}
.page1 .news p a:hover{color:#c81623;}
.page1 .news strong{padding-right:5px;}
.page1 .news .fir{padding-top:7px;}
.page1 .text .icon ul{width:260px;}
.page1 .text .icon {border:1px solid #e4e4e4;border-top:none;width:248px;overflow:hidden;}
.page1 .text .icon ul li{width:62px;height:70px;border-right:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4;float:left;position:relative;}
.page1 .text .icon ul li a span{font-size:12px;color:#666;line-height:30px;height:30px;padding-top:40px;display:block;padding-left:18px;font-family:"宋体";}
.page1 .text .icon ul li a span:hover{color:#c81623;}
.page1 .text .icon ul li i{height:25px;width:25px;display:inline-block;background:url(../images/57620a6fN77b2b8af.png) ;position:absolute;left:18px;top:15px;}
.page1 .text .icon ul li .b{background-position:  0 -25px;}
.page1 .text .icon ul li .c{background-position:  0 -50px;}
.page1 .text .icon ul li .d{background-position:  0 -75px;}
.page1 .text .icon ul li .e{background-position:  0 -100px;}
.page1 .text .icon ul li .f{background-position:  0 -125px;}
.page1 .text .icon ul li .g{background-position:  0 -150px;}
.page1 .text .icon ul li .h{background-position:  0 -175px;}
.page1 .text .icon ul li .j{background-position:  0 -200px;}
.page1 .text .icon ul li .k{background-position:  0 -225px;}
.page1 .text .icon ul li .l{background-position:  0 -250px;}
.page1 .text .icon ul li .m{background-position:  0 -275px;}
.page1 .bot {padding-top:10px;}
.page1 .bot .clock{width:210px;height:151px;float:left;background:url(../images/homebg.png)  0 -136px;position:relative;}
@keyframes donghua{from{transform:rotateZ(0);}to{transform:rotateZ(360deg);}}

.page1 .bot .clock .box{width:58px;height:58px;border-radius:50%;border:8px solid #fff;position:absolute;left:33%;top:10%;position:relative;}
.page1 .bot .clock .box .dot{width:5px;height:5px;border-radius:50%;position:absolute;left:50%;top:-5px;background:black;transform-origin:0 35px;animation:donghua 10s linear  1s infinite;}
.page1 .bot .clock .box .line1{width:5px;height:20px;background:#fff;position:absolute;left:50%;top:50%;animation:donghua 20s linear  1s infinite;border-radius:2px;transform-origin:top;}
.page1 .bot .clock .box .line2{width:5px;height:16px;background:#fff;position:absolute;left:50%;top:50%;animation:donghua 40s linear  1s infinite;border-radius:2px;transform-origin:top;}
.page1 .bot .pic-list{float:left;}
.page1 .bot .pic-list img{margin-right:1px;width:249px;height:164px;}
.page2 h2{font-size:20px;color:#333;line-height:41px;height:41px;padding-top:15px;}
.page2 h2 i{width:225px;height:15px;display:inline-block;background:url(../images/homebg.png)  0 -101px;padding-left:5px;}
.page2 h2 span{font-size:12px;color:#666;line-height:38px;height:38px;font-family:"宋体";float:right;padding-right:26px;padding-top:3px;position:relative;}
.page2 h2 span i{display:block;width:20px;height:20px;background:url(../images/homebg.png)  -351px -5px;float:right;position:absolute;top:11px;right:0;}
.page2 h2 span i:hover{background:url(../images/homebg.png) -351px -29px;}
.page2 .list{width:1208px;height:231px;border:1px solid #ededed;border-top:1px solid #d1d1d1;position:relative;}
@keyframes d{from{right:800px;}to{right:0;}}
.page2 .list i{background:url(../images/homebg.png)  0 -124px;position:absolute;right:0;top:-3px;width:365px;height:5px;}

.page2 .list:hover i{animation: d 1s ease;}
.page2 .list .left{float:left;width:201px;text-align:center;margin-top:22px;padding-bottom:9px;}
.page2 .list .left p{margin-top:10px;padding-left:36px;width:127px;text-align:left;border-left:1px solid #e6e6e6;}
.page2 .list .left p a{color:#666;font-size:12px;line-height:18px;font-family:arial,"宋体";display:block;}
.page2 .list .left p a:hover{color:#c81623;}
.page2 .list .left span{font-size:17px;color:#b51d1a;line-height:21px;height:21px;padding-left:36px;text-align:left;padding-top:5px;display:block;border-left:1px solid #e6e6e6;}
.page2 .list .left .fir{border-left:none;}

.page3 h2{font-size:20px;color:#333;line-height:34px;height:34px;padding-top:22px;font-weight:normal;}
.page3 .list{border:1px solid #ededed;height:405px;width:1208px;}
.page3 .list h3{font-size:14px;color:#333;line-height:40px;height:40px;text-align:center;margin:0 20px;border-bottom:1px dashed #e0e0e0;}

.page3 .list .left{float:left;width:403px;height:405px;border-right:1px solid #ededed;position:relative;font-size:0;background:#f7f7f7;}
.page3 .list .left .pic img{width:403px;height:205px;}
.page3 .list .left .pic1 img{width:201px;height:158px;}
.page3 .list .left .pic1{border-right:1px solid #ededed;width:201px;border-top:1px solid #ededed;float:left;}
.page3 .list .left .pic2{border-top:1px solid #ededed;width:201px;float:left;}
.page3 .list .right{float:left;width:228px;height:405px;border-right:1px solid #ededed;position:relative;font-size:0;}
.page3  .p1{font-size:16px;color:#333;line-height:38px;height:38px;}
.page3  .p2{font-size:12px;color:#333;line-height:18px;height:19px;}
.page3  .p3{font-size:12px;color:#c81623;line-height:18px;height:17px;}
.page3 .left .font{position:absolute;left:45px;top:111px;}
.page3 .left .font1{position:absolute;left:10px;top:296px;}
.page3 .left .font2{position:absolute;left:210px;top:296px;}
.page3 .right .font3{position:absolute;left:10px;top:111px;}
.page3 .right .font4{position:absolute;left:10px;top:296px;}
.page3 .right  .pic img{width:228px;height:205px;}
.page3 .right  .pic1 img{width:228px;height:158px;}
.page3 .right  .pic1 {border-top:1px solid #ededed;}
.page3 .list .last{float:left;width:171px;height:405px;}
.page3 .list .last .l{float:left;width:85px;border-right:1px dashed #e0e0e0;margin-top:13px;overflow:hidden;height:381px;}
.page3 .list .last .l ul{margin-top:-13px;}
.page3 .list .last  ul li{width:74px;border-bottom:1px dashed #e0e0e0;margin-left:11px;}
.page3 .list .last  ul li a{width:85px;height:57px;display:block;margin-left:-11px;text-align:center;}
.page3 .list .last .r li{margin-left:0;}
.page3 .list .last .r li a{margin-left:0;}
.page3 .list .last .r{border-right:none;}
.page3  .adpic{margin-top:20px;}
.f1{font-size:0;}
.f1 .title{border-bottom:1px solid #c81623;margin-top:11px;}
.f1 .title h2{float:left;font-size:20px;color:#333;line-height:40px;height:40px;}
.f1 .title ul{float:right;border:1px solid #ededed;border-bottom:none;margin-top:5px;}
.f1 .title ul li{float:left;line-height:31px;height:31px;font-size:12px;font-family:"宋体";position:relative;border-top:3px solid #fff;border-left:1px solid #fff;border-right:1px solid #fff;}
.f1 .title ul li a{color:#666;display:block;padding:0 15px;height:31px;}
.f1 .title ul li i{width:1px;height:14px;background:#ccc;position:absolute;top:10px;right:-2px;z-index:2;}
.f1 .title ul .act{border-top:3px solid #c81623;border-left:1px solid #c81623;border-right:1px solid #c81623;z-index:3;margin-top:-1px;padding-top:1px;}
.f1 .title ul .act i{display:none;}
.f1 .title ul .act a{height:32px;background:#fff;}
.f1 .hide{display:none;}
.f1 .top .left{width:330px;height:632px;float:left;}
.f1 .top .left .pic{width:330px;height:473px;overflow:hidden;position:relative;}
.f1 .top .left .pic:before{content:"";width:80px;height:350px;background:-moz-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.3) 50%,rgba(255,255,255,0) 100%);position:absolute;top:0;left:-150px;transform:skewX(-28deg);}
.f1 .top .left .pic:hover:before{left:500px;transition:0.8s;}
.f1 .top .left .nav{width:305px;height:92px;background:rgba(255,255,255,0.5);margin-top:-220px;position:relative;z-index:2;padding-left:25px;}
.f1 .top .left .nav a{width:100px;height:26px;margin:10px 0;display:block;float:left;font-size:12px;color:#666;line-height:26px;height:26px;}
.f1 .top .left .nav a:hover{color:#c81623;}
.f1 .top .left .nav a i{width:26px;height:26px;display:block;margin-right:5px;float:left;background:url(../images/clothesicon.png) ;}
.f1 .top .left .nav a .b{background-position: 0 -26px;}
.f1 .top .left .nav a .c{background-position:  0 -52px;}
.f1 .top .left .nav a .d{background-position: 0 -78px;}
.f1 .top .left .nav a .e{background-position: 0 -104px;}
.f1 .top .left .nav a .f{background-position:  0 -130px;}
.f1 .top .left .nav1{width:330px;height:128px;background:#f5f5f5;position:relative;z-index:2;}
.f1 .top .left .nav1 ul li{height:23px;}
.f1 .top .left .nav1 ul li a{font-size:14px;color:#999;font-family:"宋体";line-height:23px;height:23px;padding:0 5px;display:block;float:left;}
.f1 .top .left .nav1 ul {padding:18px 0 0 20px;float:left;}
.f1 .top .left .nav1 .second {padding-left:25px;}
.f1 .top .left .nav1 .act{color:#58add2;font-weight:bold;transform:scale(1.1);}
.f1 .top .left  .nav1 a:hover{color:#c81623;}
.f1 .top .left .ad{width:328px;height:158px;border:1px solid #ededed;border-left:1px solid #f7f5ee;}
.f1 .top .mid{width:439px;height:632px;float:left;border-right:1px solid #ededed;border-bottom:1px solid #ededed;}
.f1 .top .mid .a2 img{border-top:1px solid #ededed;border-bottom:1px solid #ededed;}
.f1 .top .right{width:220px;float:left;}
.f1 .top .right img{width:219px;border-bottom:1px solid #ededed;border-right:1px solid #ededed;}
.f1 .bot{width:1210px;height:66px;background:#f2f2f2;margin-top:23px;}
.f1 .bot a{padding:0 10px;margin:13px 0;display:block;float:left;width:98px;height:40px;border-left:1px dotted #ccc;}
.f1 .bot .first{border-left:none;}
.f2{font-size:0;}
.f2 .title{border-bottom:1px solid #c81623;margin-top:16px;}
.f2 .title h2{float:left;font-size:20px;color:#333;line-height:41px;height:41px;}
.f2 .title ul{float:right;border:1px solid #ededed;border-bottom:none;margin-top:6px;}
.f2 .title ul li{float:left;line-height:31px;height:31px;font-size:12px;font-family:"宋体";position:relative;border-top:3px solid #fff;border-left:1px solid #fff;border-right:1px solid #fff;}
.f2 .title ul li a{color:#666;display:block;padding:0 15px;height:31px;}
.f2 .title ul li i{width:1px;height:14px;background:#ccc;position:absolute;top:10px;right:-2px;z-index:2;}
.f2 .title ul li:hover{border-top:3px solid #c81623;border-left:1px solid #c81623;border-right:1px solid #c81623;z-index:3;margin-top:-1px;padding-top:1px;}
.f2 .title ul li:hover i{display:none;}
.f2 .title ul li:hover a{height:32px;background:#fff;height:32px;}
.f2 .hide{display:none;}

.f2 .top .left{width: 210px;height:474px;float:left;}
.f2 .top .left .pic{position:relative;width: 210px;height:474px;}
.f2 .top .left .pic img{width: 210px;height:474px;}

.f2 .top .left .pic:before{content:"";width:80px;height:330px;background:-moz-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.3) 50%,rgba(255,255,255,0) 100%);position:absolute;top:0;left:-150px;transform:skewX(-28deg);}
.f2 .top .left .pic:hover:before{left:210px;transition:0.8s;}
.f2 .top .left .nav a:hover{color:#58add2;font-weight:bold;}
.f2 .top .left .nav{width:200px;height:92px;background:#daeef7;position:relative;z-index:2;padding-left:10px;margin-top:-237px;}
.f2 .top .left .nav a{width:98px;height:26px;margin:10px 0;display:block;float:left;font-size:12px;color:#666;line-height:26px;height:26px;}
.f2 .top .left .nav a i{width:26px;height:26px;display:block;margin-right:5px;float:left;background:url(../images/cosmeticsicon.png) ;}
.f2 .top .left .nav a .b{background:url(../images/cosmeticsicon.png) 0 -26px;}
.f2 .top .left .nav a .c{background:url(../images/cosmeticsicon.png)  0 -52px;}
.f2 .top .left .nav a .d{background:url(../images/cosmeticsicon.png)  0 -78px;}
.f2 .top .left .news {width:210px;height:145px;background:#e9f5fa;position:relative;z-index:2;}
.f2 .top .left .news .text{padding-top:22px;padding-left:25px;}
.f2 .top .left .news .text a{font:14px/23px "Microsoft YaHei";color:#666;height:23px;}
.f2 .top .left .news .word{padding-top:8px;padding-left:20px;}
.f2 .top .left .news .word a{padding:0 5px;font:14px/24px "宋体";color:#999;height:24px;}
.f2 .top .left .news .word .a1{color:#58add2;font-weight:bold;transform:scale(1.02);}
.f2 .top .left .news a:hover{color:#c81623;}
.f2 .top .mid{float:left;width:339px;height:473px;border-right:1px solid #ededed;}
.f2 .top .mid .a1 img{border-top:1px dotted #ccc;border-bottom:1px solid #ededed;}
.f2 .top .right{float:left;width:220px;height:473px;}
.f2 .top .right  a img{width:219px;border-bottom:1px solid #ededed;border-right:1px solid #ededed;}
.f2 .bot{width:1210px;height:66px;background:#f7f7f7;margin-top:10px;}
.f2 .bot img{width:100px;height:41px;}
.f2 .bot a{padding:0 10px;margin:13px 0;display:block;float:left;border-left:1px dotted #ccc;}
.f2 .bot .first{border-left:none;}
.f2 .adpic{margin-top:21px;}

.f3 .hide{display:none;}
.f3{font-size:0;}
.f3 .title{border-bottom:1px solid #c81623;margin-top:16px;}
.f3 .title h2{float:left;font-size:20px;color:#333;line-height:40px;height:40px;}
.f3 .title ul{float:right;border:1px solid #ededed;border-bottom:none;margin-top:5px;}
.f3 .title ul li{float:left;line-height:31px;height:31px;font-size:12px;font-family:"宋体";position:relative;border-top:3px solid #fff;border-left:1px solid #fff;border-right:1px solid #fff;}
.f3 .title ul li a{color:#666;display:block;padding:0 15px;height:31px;}
.f3 .title ul li i{width:1px;height:14px;background:#ccc;position:absolute;top:10px;right:-2px;z-index:2;}
.f3 .title ul li:hover{border-top:3px solid #c81623;border-left:1px solid #c81623;border-right:1px solid #c81623;z-index:3;margin-top:-1px;padding-top:1px;}
.f3 .title ul li:hover i{display:none;}
.f3 .title ul li:hover a{height:32px;background:#fff;height:32px;}
.f3 .top .left{width: 330px;height:474px;float:left;}
.f3 .top .left .pic{position:relative;width: 330px;height:474px;}
.f3 .top .left .pic img{width: 330px;height:474px;}
.f3 .top .left .pic:before{content:"";width:80px;height:283px;background:-moz-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.3) 50%,rgba(255,255,255,0) 100%);position:absolute;top:0;left:-150px;transform:skewX(-28deg);}
.f3 .top .left .pic:hover:before{left:330px;transition:0.8s;}

.f3 .top .left .nav a:hover{color:#c81623;}
.f3 .top .left .nav{width:305px;height:46px;background:#f0d5fc;position:relative;z-index:2;padding-left:25px;margin-top:-237px;}
.f3 .top .left .nav a{width:98px;height:26px;margin:10px 0;display:block;float:left;font-size:14px;color:#666;line-height:26px;height:26px;}
.f3 .top .left .nav a i{width:26px;height:26px;display:block;margin-right:5px;float:left;background:url(../images/mobilesicon.png);}
.f3 .top .left .nav a .b{background-position: 0 -26px;}
.f3 .top .left .nav a .c{background-position:  0 -52px;}
.f3 .top .left .news {width:330px;height:191px;background:#f6e6fd;position:relative;z-index:2;}
.f3 .top .left .news .text{padding-top:22px;padding-left:25px;}
.f3 .top .left .news .text a{font:14px/24px "Microsoft YaHei";color:#666;height:24px;display:block;float:left;}
.f3 .top .left .news .text .a{width:160px;}
.f3 .top .left .news .text .b{width:135px;}
.f3 .top .left .nav1 ul{padding-top:6px;padding-left:20px;float:left;}
.f3 .top .left .nav1 .second {padding-left:25px;}
.f3 .top .left .news ul li a{padding:0 5px;font:14px/24px "宋体";color:#999;height:24px;}
.f3 .top .left .news  .a1{color:#58add2;font-weight:bold;transform:scale(1.2);}
.f3 .top .left .news a:hover{color:#c81623;}
.f3 .top .mid{width:440px;float:left;}
.f3 .top .mid .a1 img{width:219px;height:236px;border-right:1px solid #ededed;border-bottom:1px solid #ededed;}
.f3 .top .right{width:220px;float:left;}
.f3 .top .right img{width:219px;border-right:1px solid #ededed;border-bottom:1px solid #ededed;}
.f3 .bot{width:1210px;height:66px;background:#f7f7f7;margin-top:10px;}
.f3 .bot img{width:100px;height:41px;}
.f3 .bot a{padding:0 10px;margin:13px 0;display:block;float:left;border-left:1px dotted #ccc;}
.f3 .bot .first{border-left:none;}
.f4 .hide{display:none;}
.f4{font-size:0;}
.f4 .title{border-bottom:1px solid #c81623;margin-top:16px;}
.f4 .title h2{float:left;font-size:20px;color:#333;line-height:40px;height:40px;}
.f4 .title ul{float:right;border:1px solid #ededed;border-bottom:none;margin-top:5px;}
.f4 .title ul li{float:left;line-height:31px;height:31px;font-size:12px;font-family:"宋体";position:relative;border-top:3px solid #fff;border-left:1px solid #fff;border-right:1px solid #fff;}
.f4 .title ul li a{color:#666;display:block;padding:0 15px;height:31px;}
.f4 .title ul li i{width:1px;height:14px;background:#ccc;position:absolute;top:10px;right:-2px;z-index:2;}
.f4 .title ul li:hover{border-top:3px solid #c81623;border-left:1px solid #c81623;border-right:1px solid #c81623;z-index:3;margin-top:-1px;padding-top:1px;}
.f4 .title ul li:hover i{display:none;}
.f4 .title ul li:hover a{height:32px;background:#fff;height:32px;}
.f4 .top .left{width: 330px;height:474px;float:left;}
.f4 .top .left .pic{position:relative;width: 330px;height:474px;}
.f4 .top .left .pic img{width: 330px;height:474px;}
.f4 .top .left .pic:before{content:"";width:80px;height:283px;background:-moz-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.3) 50%,rgba(255,255,255,0) 100%);position:absolute;top:0;left:-150px;transform:skewX(-28deg);}
.f4 .top .left .pic:hover:before{left:330px;transition:0.8s;}
.f4 .top .left .nav{width:320px;height:46px;background:#d7ebec;position:relative;z-index:2;padding-left:10px;margin-top:-237px;}
.f4 .top .left .nav a{width:145px;height:26px;margin:10px 0;display:block;float:left;font-size:14px;color:#666;line-height:26px;height:26px;}
.f4 .top .left .nav a:hover{color:#c81623;}
.f4 .top .left .nav a i{width:26px;height:26px;display:block;margin-right:5px;margin-left:25px;float:left;background:url(../images/electronicsicon.png);}
.f4 .top .left .nav a .b{background-position: 0 -26px;}
.f4 .top .left .news {width:330px;height:191px;background:#e7f3f3;position:relative;z-index:2;}
.f4 .top .left .news .text{padding-top:22px;padding-left:25px;}
.f4 .top .left .news .text a{font:14px/24px "Microsoft YaHei";color:#666;height:24px;display:block;float:left;}
.f4 .top .left .news .text .a{width:160px;}
.f4 .top .left .news .text .b{width:135px;}
.f4 .top .left .nav1 ul{padding-top:6px;padding-left:20px;float:left;}
.f4 .top .left .nav1 .second {padding-left:13px;}
.f4 .top .left .news ul li a{padding:0 5px;font:14px/24px "宋体";color:#999;height:24px;}
.f4 .top .left .news  .a1{color:#c81623;}
.f4 .top .left .news a:hover{color:#c81623;}
.f4 .top .mid{width:440px;float:left;}
.f4 .top .mid .a1 img{width:219px;height:236px;border-right:1px solid #ededed;border-bottom:1px solid #ededed;}
.f4 .top .right{width:220px;float:left;}
.f4 .top .right img{width:219px;border-right:1px solid #ededed;border-bottom:1px solid #ededed;}
.f4 .bot{width:1210px;height:66px;background:#f7f7f7;margin-top:10px;}
.f4 .bot img{width:100px;height:41px;}
.f4 .bot a{padding:0 10px;margin:13px 0;display:block;float:left;border-left:1px dotted #ccc;}
.f4 .bot .first{border-left:none;}
.f5{font-size:0;}
.f5 .title{border-bottom:1px solid #c81623;margin-top:16px;}
.f5 .title h2{float:left;font-size:20px;color:#333;line-height:40px;height:40px;}
.f5 .title ul{float:right;border:1px solid #ededed;border-bottom:none;margin-top:5px;}
.f5 .title ul li{float:left;line-height:31px;height:31px;font-size:12px;font-family:"宋体";position:relative;border-top:3px solid #fff;border-left:1px solid #fff;border-right:1px solid #fff;}
.f5 .title ul li a{color:#666;display:block;padding:0 15px;height:31px;}
.f5 .title ul li i{width:1px;height:14px;background:#ccc;position:absolute;top:10px;right:-2px;z-index:2;}
.f5 .title ul li:hover{border-top:3px solid #c81623;border-left:1px solid #c81623;border-right:1px solid #c81623;z-index:3;margin-top:-1px;padding-top:1px;}
.f5 .title ul li:hover i{display:none;}
.f5 .title ul li:hover a{height:32px;background:#fff;height:32px;}
.f5 .top .left{width: 330px;height:474px;float:left;}
.f5 .top .left .pic{position:relative;width: 330px;height:474px;}
.f5 .top .left .pic img{width: 330px;height:474px;}
.f5 .top .left .pic:before{content:"";width:80px;height:283px;background:-moz-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.3) 50%,rgba(255,255,255,0) 100%);position:absolute;top:0;left:-150px;transform:skewX(-28deg);}
.f5 .top .left .pic:hover:before{left:330px;transition:0.8s;}
.f5 .top .left .nav{width:305px;height:46px;background:#d5ecdf;position:relative;z-index:2;padding-left:25px;margin-top:-237px;}
.f5 .top .left .nav a{width:98px;height:26px;margin:10px 0;display:block;float:left;font-size:14px;color:#666;line-height:26px;height:26px;}
.f5 .top .left .nav a:hover{color:#c81623;}
.f5 .top .left .nav a i{width:26px;height:26px;display:block;margin-right:5px;float:left;background:url(../images/digitalsicon.png);}
.f5 .top .left .nav a .b{background-position: 0 -26px;}
.f5 .top .left .nav a .c{background:url(../images/mobilesicon.png)  0 -52px;}
.f5 .top .left .news {width:330px;height:191px;background:#e6f3ec;position:relative;z-index:2;}
.f5 .top .left .news .text{padding-top:22px;padding-left:25px;}
.f5 .top .left .news .text a{font:14px/24px "Microsoft YaHei";color:#666;height:24px;display:block;float:left;}
.f5 .top .left .news .text .a{width:160px;}
.f5 .top .left .news .text .b{width:135px;}
.f5 .top .left .nav1 ul{padding-top:6px;padding-left:20px;float:left;}
.f5 .top .left .nav1 .second {padding-left:13px;}
.f5 .top .left .news ul li a{padding:0 5px;font:14px/24px "宋体";color:#999;height:24px;}
.f5 .top .left .news  .a1{color:#c81623;}
.f5 .top .left .news a:hover{color:#c81623;}
.f5 .top .mid{width:440px;float:left;}
.f5 .top .mid .a1 img{width:219px;height:236px;border-right:1px solid #ededed;border-bottom:1px solid #ededed;}
.f5 .top .right{width:220px;float:left;}
.f5 .top .right img{width:219px;border-right:1px solid #ededed;border-bottom:1px solid #ededed;}
.f5 .bot{width:1210px;height:66px;background:#f7f7f7;margin-top:10px;}
.f5 .bot img{width:100px;height:41px;}
.f5 .bot a{padding:0 10px;margin:13px 0;display:block;float:left;border-left:1px dotted #ccc;}
.f5 .bot .first{border-left:none;}
.f5 .adpic{margin-top:21px;}

.f6{font-size:0;}
.f6 .title{border-bottom:1px solid #c81623;margin-top:16px;}
.f6 .title h2{float:left;font-size:20px;color:#333;line-height:41px;height:41px;}
.f6 .title ul{float:right;border:1px solid #ededed;border-bottom:none;margin-top:6px;}
.f6 .title ul li{float:left;line-height:31px;height:31px;font-size:12px;font-family:"宋体";position:relative;border-top:3px solid #fff;border-left:1px solid #fff;border-right:1px solid #fff;}
.f6 .title ul li a{color:#666;display:block;padding:0 15px;height:31px;}
.f6 .title ul li i{width:1px;height:14px;background:#ccc;position:absolute;top:10px;right:-2px;z-index:2;}
.f6 .title ul li:hover{border-top:3px solid #c81623;border-left:1px solid #c81623;border-right:1px solid #c81623;z-index:3;margin-top:-1px;padding-top:1px;}
.f6 .title ul li:hover i{display:none;}
.f6 .title ul li:hover a{height:32px;background:#fff;height:32px;}
.f6 .top .left{width: 210px;height:474px;float:left;}

.f6 .top .left .pic{position:relative;width: 210px;height:474px;}
.f6 .top .left .pic img{width: 210px;height:474px;}
.f6 .top .left .pic:before{content:"";width:80px;height:330px;background:-moz-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.3) 50%,rgba(255,255,255,0) 100%);position:absolute;top:0;left:-150px;transform:skewX(-28deg);}
.f6 .top .left .pic:hover:before{left:210px;transition:0.8s;}
.f6 .top .left .nav a:hover{color:#c81623;}
.f6 .top .left .nav{width:200px;height:92px;background:#d9f4f8;position:relative;z-index:2;padding-left:10px;margin-top:-237px;}
.f6 .top .left .nav a{width:98px;height:26px;margin:10px 0;display:block;float:left;font-size:12px;color:#666;line-height:26px;height:26px;}
.f6 .top .left .nav a i{width:26px;height:26px;display:block;margin-right:5px;float:left;background:url(../images/sportsicon.png) ;}
.f6 .top .left .nav a .b{background-position: 0 -26px;}
.f6 .top .left .nav a .c{background-position:  0 -52px;}
.f6 .top .left .nav a .d{background-position:  0 -78px;}
.f6 .top .left .news {width:210px;height:145px;background:#e8f8fb;position:relative;z-index:2;}
.f6 .top .left .news .text{padding-top:22px;padding-left:25px;}
.f6 .top .left .news .text a{font:14px/23px "Microsoft YaHei";color:#666;height:23px;}
.f6 .top .left .news .word{padding-top:8px;padding-left:20px;}
.f6 .top .left .news .word a{padding:0 5px;font:14px/24px "宋体";color:#999;height:24px;display:block;float:left;}
.f6 .top .left .news .word .a1{color:#c81623;}
.f6 .top .left .news a:hover{color:#c81623;}
.f6 .top .mid{float:left;width:339px;height:473px;border-right:1px solid #ededed;}
.f6 .top .mid .a1 img{border-top:1px dotted #ccc;border-bottom:1px solid #ededed;}
.f6 .top .right{float:left;width:220px;height:473px;}
.f6 .top .right  a img{width:219px;border-bottom:1px solid #ededed;border-right:1px solid #ededed;}
.f6 .bot img{width:100px;height:41px;}
.f6 .bot a{padding:0 10px;margin:13px 0;display:block;float:left;border-left:1px dotted #ccc;}
.f6 .bot .first{border-left:none;}

.f7{font-size:0;}
.f7 .title{border-bottom:1px solid #c81623;margin-top:16px;}
.f7 .title h2{float:left;font-size:20px;color:#333;line-height:41px;height:41px;}
.f7 .title ul{float:right;border:1px solid #ededed;border-bottom:none;margin-top:6px;}
.f7 .title ul li{float:left;line-height:31px;height:31px;font-size:12px;font-family:"宋体";position:relative;border-top:3px solid #fff;border-left:1px solid #fff;border-right:1px solid #fff;}
.f7 .title ul li a{color:#666;display:block;padding:0 15px;height:31px;}
.f7 .title ul li i{width:1px;height:14px;background:#ccc;position:absolute;top:10px;right:-2px;z-index:2;}
.f7 .title ul li:hover{border-top:3px solid #c81623;border-left:1px solid #c81623;border-right:1px solid #c81623;z-index:3;margin-top:-1px;padding-top:1px;}
.f7 .title ul li:hover i{display:none;}
.f7 .title ul li:hover a{height:32px;background:#fff;height:32px;}
.f7 .top .left{width: 210px;height:474px;float:left;}
.f7 .top .left .pic:before{content:"";width:80px;height:330px;background:-moz-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.3) 50%,rgba(255,255,255,0) 100%);position:absolute;top:0;left:-150px;transform:skewX(-28deg);}
.f7 .top .left .pic:hover:before{left:210px;transition:0.8s;}

.f7 .top .left .pic{position:relative;width: 210px;height:474px;}
.f7 .top .left .pic img{width: 210px;height:474px;}
.f7 .top .left .nav a:hover{color:#c81623;}
.f7 .top .left .nav{width:200px;height:92px;background:#daeef7;position:relative;z-index:2;padding-left:10px;margin-top:-237px;}
.f7 .top .left .nav a{width:98px;height:26px;margin:10px 0;display:block;float:left;font-size:12px;color:#666;line-height:26px;height:26px;}
.f7 .top .left .nav a i{width:26px;height:26px;display:block;margin-right:5px;float:left;background:url(../images/livingsicon.png) ;}
.f7 .top .left .nav a .b{background:url(../images/livingsicon.png) 0 -26px;}
.f7 .top .left .nav a .c{background:url(../images/livingsicon.png)  0 -52px;}
.f7 .top .left .nav a .d{background:url(../images/livingsicon.png)  0 -78px;}
.f7 .top .left .news {width:210px;height:145px;background:#e9f5fa;position:relative;z-index:2;}
.f7 .top .left .news .text{padding-top:22px;padding-left:25px;}
.f7 .top .left .news .text a{font:14px/23px "Microsoft YaHei";color:#666;height:23px;}
.f7 .top .left .news .word{padding-top:8px;padding-left:20px;}
.f7 .top .left .news .word a{padding:0 5px;font:14px/24px "宋体";color:#999;height:24px;display:block;float:left;}
.f7 .top .left .news .word .a1{color:#c81623;}
.f7 .top .left .news a:hover{color:#c81623;}
.f7 .top .mid{float:left;width:339px;height:473px;border-right:1px solid #ededed;}
.f7 .top .mid .a1 img{border-top:1px dotted #ccc;border-bottom:1px solid #ededed;}
.f7 .top .right{float:left;width:220px;height:473px;}
.f7 .top .right  a img{width:219px;border-bottom:1px solid #ededed;border-right:1px solid #ededed;}

.f7 .bot{width:1210px;height:66px;background:#f7f7f7;margin-top:10px;}
.f7 .bot img{width:100px;height:41px;}
.f7 .bot a{padding:0 10px;margin:13px 0;display:block;float:left;border-left:1px dotted #ccc;}
.f7 .bot .first{border-left:none;}


.f8{font-size:0;}
.f8 .title{border-bottom:1px solid #c81623;margin-top:16px;}
.f8 .title h2{float:left;font-size:20px;color:#333;line-height:41px;height:41px;}
.f8 .title ul{float:right;border:1px solid #ededed;border-bottom:none;margin-top:6px;}
.f8 .title ul li{float:left;line-height:31px;height:31px;font-size:12px;font-family:"宋体";position:relative;border-top:3px solid #fff;border-left:1px solid #fff;border-right:1px solid #fff;}
.f8 .title ul li a{color:#666;display:block;padding:0 15px;height:31px;}
.f8 .title ul li i{width:1px;height:14px;background:#ccc;position:absolute;top:10px;right:-2px;z-index:2;}
.f8 .title ul li:hover{border-top:3px solid #c81623;border-left:1px solid #c81623;border-right:1px solid #c81623;z-index:3;margin-top:-1px;padding-top:1px;}
.f8 .title ul li:hover i{display:none;}
.f8 .title ul li:hover a{height:32px;background:#fff;height:32px;}
.f8 .top .left{width: 210px;height:474px;float:left;}
.f8 .top .left .pic:before{content:"";width:80px;height:330px;background:-moz-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.3) 50%,rgba(255,255,255,0) 100%);position:absolute;top:0;left:-150px;transform:skewX(-28deg);}
.f8 .top .left .pic:hover:before{left:210px;transition:0.8s;}
.f8 .top .left .nav a:hover{color:#c81623;}
.f8 .top .left .pic{position:relative;width: 210px;height:474px;}
.f8 .top .left .pic img{width: 210px;height:474px;}
.f8 .top .left .nav{width:200px;height:92px;background:#daeef7;position:relative;z-index:2;padding-left:10px;margin-top:-237px;}
.f8 .top .left .nav a{width:98px;height:26px;margin:10px 0;display:block;float:left;font-size:12px;color:#666;line-height:26px;height:26px;}
.f8 .top .left .nav a i{width:26px;height:26px;display:block;margin-right:5px;float:left;background:url(../images/babysicon.png) ;}
.f8 .top .left .nav a .b{background:url(../images/babysicon.png) 0 -26px;}
.f8 .top .left .nav a .c{background:url(../images/babysicon.png)  0 -52px;}
.f8 .top .left .nav a .d{background:url(../images/babysicon.png)  0 -78px;}
.f8 .top .left .news {width:210px;height:145px;background:#e9f5fa;position:relative;z-index:2;}
.f8 .top .left .news .text{padding-top:22px;padding-left:25px;}
.f8 .top .left .news .text a{font:14px/23px "Microsoft YaHei";color:#666;height:23px;}
.f8 .top .left .news .word{padding-top:8px;padding-left:20px;}
.f8 .top .left .news .word a{padding:0 5px;font:14px/24px "宋体";color:#999;height:24px;display:block;float:left;}
.f8 .top .left .news .word .a1{color:#c81623;}
.f8 .top .left .news a:hover{color:#c81623;}
.f8 .top .mid{float:left;width:339px;height:473px;border-right:1px solid #ededed;}
.f8 .top .mid .a1 img{border-top:1px dotted #ccc;border-bottom:1px solid #ededed;}
.f8 .top .right{float:left;width:220px;height:473px;}
.f8 .top .right  a img{width:219px;border-bottom:1px solid #ededed;border-right:1px solid #ededed;}

.f8 .bot{width:1210px;height:66px;background:#f7f7f7;margin-top:10px;}
.f8 .bot img{width:100px;height:41px;}
.f8 .bot a{padding:0 10px;margin:13px 0;display:block;float:left;border-left:1px dotted #ccc;}
.f8 .bot .first{border-left:none;}

.f9{font-size:0;}
.f9 .title{border-bottom:1px solid #c81623;margin-top:16px;}
.f9 .title h2{float:left;font-size:20px;color:#333;line-height:41px;height:41px;}
.f9 .title ul{float:right;border:1px solid #ededed;border-bottom:none;margin-top:6px;}
.f9 .title ul li{float:left;line-height:31px;height:31px;font-size:12px;font-family:"宋体";position:relative;border-top:3px solid #fff;border-left:1px solid #fff;border-right:1px solid #fff;}
.f9 .title ul li a{color:#666;display:block;padding:0 15px;height:31px;}
.f9 .title ul li i{width:1px;height:14px;background:#ccc;position:absolute;top:10px;right:-2px;z-index:2;}
.f9 .title ul li:hover{border-top:3px solid #c81623;border-left:1px solid #c81623;border-right:1px solid #c81623;z-index:3;margin-top:-1px;padding-top:1px;}
.f9 .title ul li:hover i{display:none;}
.f9 .title ul li:hover a{height:32px;background:#fff;height:32px;}
.f9 .top .left{width: 210px;height:474px;float:left;}
.f9 .top .left .pic:before{content:"";width:80px;height:330px;background:-moz-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.3) 50%,rgba(255,255,255,0) 100%);position:absolute;top:0;left:-150px;transform:skewX(-28deg);}
.f9 .top .left .pic:hover:before{left:210px;transition:0.8s;}
.f9 .top .left .nav a:hover{color:#c81623;}
.f9 .top .left .pic{position:relative;width: 210px;height:474px;}
.f9 .top .left .pic img{width: 210px;height:474px;}
.f9 .top .left .nav{width:200px;height:92px;background:#fdcdf6;position:relative;z-index:2;padding-left:10px;margin-top:-237px;}
.f9 .top .left .nav a{width:98px;height:26px;margin:10px 0;display:block;float:left;font-size:12px;color:#666;line-height:26px;height:26px;}
.f9 .top .left .nav a i{width:26px;height:26px;display:block;margin-right:5px;float:left;background:url(../images/foodsicon.png) ;}
.f9 .top .left .nav a .b{background:url(../images/foodsicon.png) 0 -26px;}
.f9 .top .left .nav a .c{background:url(../images/foodsicon.png)  0 -52px;}
.f9 .top .left .nav a .d{background:url(../images/foodsicon.png)  0 -78px;}
.f9 .top .left .news {width:210px;height:145px;background:#fedcf9;position:relative;z-index:2;}
.f9 .top .left .news .text{padding-top:22px;padding-left:25px;}
.f9 .top .left .news .text a{font:14px/23px "Microsoft YaHei";color:#666;height:23px;}
.f9 .top .left .news .word{padding-top:8px;padding-left:20px;}
.f9 .top .left .news .word a{padding:0 5px;font:14px/24px "宋体";color:#999;height:24px;display:block;float:left;}
.f9 .top .left .news .word .a1{color:#c81623;}
.f9 .top .left .news a:hover{color:#c81623;}
.f9 .top .mid{float:left;width:339px;height:473px;border-right:1px solid #ededed;}
.f9 .top .mid .a1 img{border-top:1px dotted #ccc;border-bottom:1px solid #ededed;}
.f9 .top .right{float:left;width:220px;height:473px;}
.f9 .top .right  a img{width:219px;border-bottom:1px solid #ededed;border-right:1px solid #ededed;}

.f9 .bot{width:1210px;height:66px;background:#f7f7f7;margin-top:10px;}
.f9 .bot img{width:100px;height:41px;}
.f9 .bot a{padding:0 10px;margin:13px 0;display:block;float:left;border-left:1px dotted #ccc;}
.f9 .bot .first{border-left:none;}
.f9 .adpic{margin-top:21px;}

.f10{font-size:0;}
.f10 .title{border-bottom:1px solid #c81623;margin-top:16px;}
.f10 .title h2{float:left;font-size:20px;color:#333;line-height:41px;height:41px;}
.f10 .title ul{float:right;border:1px solid #ededed;border-bottom:none;margin-top:6px;}
.f10 .title ul li{float:left;line-height:31px;height:31px;font-size:12px;font-family:"宋体";position:relative;border-top:3px solid #fff;border-left:1px solid #fff;border-right:1px solid #fff;}
.f10 .title ul li a{color:#666;display:block;padding:0 15px;height:31px;}
.f10 .title ul li i{width:1px;height:14px;background:#ccc;position:absolute;top:10px;right:-2px;z-index:2;}
.f10 .title ul li:hover{border-top:3px solid #c81623;border-left:1px solid #c81623;border-right:1px solid #c81623;z-index:3;margin-top:-1px;padding-top:1px;}
.f10 .title ul li:hover i{display:none;}
.f10 .title ul li:hover a{height:32px;background:#fff;height:32px;}
.f10 .top .left{width: 210px;height:474px;float:left;}
.f10 .top .left .pic:before{content:"";width:80px;height:330px;background:-moz-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.3) 50%,rgba(255,255,255,0) 100%);position:absolute;top:0;left:-150px;transform:skewX(-28deg);}
.f10 .top .left .pic:hover:before{left:210px;transition:0.8s;}
.f10 .top .left .nav a:hover{color:#c81623;}
.f10 .top .left .pic{position:relative;width: 210px;height:474px;}
.f10 .top .left .pic img{width: 210px;height:474px;}
.f10 .top .left .nav{width:200px;height:92px;background:#daeef7;position:relative;z-index:2;padding-left:10px;margin-top:-237px;}
.f10 .top .left .nav a{width:98px;height:26px;margin:10px 0;display:block;float:left;font-size:12px;color:#666;line-height:26px;height:26px;}
.f10 .top .left .nav a i{width:26px;height:26px;display:block;margin-right:5px;float:left;background:url(../images/booksicon.png) ;}
.f10 .top .left .nav a .b{background:url(../images/booksicon.png) 0 -26px;}
.f10 .top .left .nav a .c{background:url(../images/booksicon.png)  0 -52px;}
.f10 .top .left .nav a .d{background:url(../images/booksicon.png)  0 -78px;}
.f10 .top .left .news {width:210px;height:145px;background:#e9f5fa;position:relative;z-index:2;}
.f10 .top .left .news .text{padding-top:22px;padding-left:25px;}
.f10 .top .left .news .text a{font:14px/23px "Microsoft YaHei";color:#666;height:23px;}
.f10 .top .left .news .word{padding-top:8px;padding-left:20px;}
.f10 .top .left .news .word a{padding:0 5px;font:14px/24px "宋体";color:#999;height:24px;}
.f10 .top .left .news .word .a1{color:#c81623;}
.f10 .top .left .news a:hover{color:#c81623;}
.f10 .top .right{float:left;width:220px;height:473px;}
.f10 .top .right  a img{width:219px;border-bottom:1px solid #ededed;border-right:1px solid #ededed;}
.f10 .top .mid{float:left;width:440px;height:473px;}
.f10 .top .mid .a1 img{width:219px;border-right:1px solid #ededed;border-bottom:1px solid #ededed;}
.f10 .top .last{width:339px;height:473px;float:left;}
.f10 .top .last h2{font-size:20px;line-height:41px;height:41px;color:#666;border-bottom:1px solid #e4e4e4;font-weight:normal;margin:5px 15px 0 10px;}
.f10 .top .last .l{width:64px;float:left;padding-left:19px;}
.f10 .top .last .l  img{margin-top:22px;border-right:1px dotted #dbdbdb;padding-right:15px;width:48px;height:48px;}
.f10 .top .last .l .a1{font:12px/30px "宋体";height:30px;color:#666;display:block;border-right:1px dotted #dbdbdb;text-align:center;width:48px;padding-right:15px;}
.f10 .top .last .l .a1:hover{color:#c81623;}
.f10 .top .last .r{width:256px;float:left;}
.f10  .top .last .sbox{padding-top:22px;height:77px;}
.f10  .top .last .sbox .text{float:left;}
.f10  .top .last .sbox .pic{float:left;margin: 0 14px;}
.f10  .top .last .sbox .text p{font-size:12px;line-height:16px;height:16px;color:#666;}
.f10  .top .last .sbox .wenzi{background:#f8f8f8;width:150px;height:54px;margin-top:5px;position:relative;}
.f10  .top .last .sbox .wenzi span{font:12px/18px "宋体";color:#666;display:block;padding:9px 20px 9px 0;}
.f10  .top .last .sbox .wenzi i{font:35px/30px arial;width:15px;display:block;float:left;color:#666;}
.f10  .top .last .sbox .wenzi .t{margin-left:5px;margin-top:9px;}
.f10  .top .last .sbox .wenzi .b{}
.f10  .top .last .sbox .wenzi .c{margin-top:-22px;margin-left:80px;}
.f10  .top .last .sbox .wenzi .d{margin-top:-22px;margin-left:95px;}
.f10  .top .last .sbox .wenzi .e{margin-top:-22px;margin-left:100px;}
.f10  .top .last .sbox .wenzi:before{content:"";width:10px;height:10px;position:absolute;left:-5px;top:25px;background:#f8f8f8;transform:rotate(45deg);}
.f10 .bot{width:1210px;height:66px;background:#f7f7f7;margin-top:10px;}
.f10 .bot img{width:100px;height:41px;}
.f10 .bot a{padding:0 10px;margin:13px 0;display:block;float:left;border-left:1px dotted #ccc;}
.f10 .bot .first{border-left:none;}

.f11{font-size:0;}
.f11 .title{border-bottom:1px solid #c81623;margin-top:16px;}
.f11 .title h2{float:left;font-size:20px;color:#333;line-height:40px;height:40px;}
.f11 .title ul{float:right;border:1px solid #ededed;border-bottom:none;margin-top:5px;}
.f11 .title ul li{float:left;line-height:31px;height:31px;font-size:12px;font-family:"宋体";position:relative;border-top:3px solid #fff;border-left:1px solid #fff;border-right:1px solid #fff;}
.f11 .title ul li a{color:#666;display:block;padding:0 15px;height:31px;}
.f11 .title ul li i{width:1px;height:14px;background:#ccc;position:absolute;top:10px;right:-2px;z-index:2;}
.f11 .title ul li:hover{border-top:3px solid #c81623;border-left:1px solid #c81623;border-right:1px solid #c81623;z-index:3;margin-top:-1px;padding-top:1px;}
.f11 .title ul li:hover i{display:none;}
.f11 .title ul li:hover a{height:32px;background:#fff;height:32px;}
.f11 .top .left{width: 330px;height:474px;float:left;}
.f11 .top .left .pic{position:relative;width: 330px;height:474px;}
.f11 .top .left .pic img{width: 330px;height:474px;}
.f11 .top .left .pic:before{content:"";width:80px;height:283px;background:-moz-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.3) 50%,rgba(255,255,255,0) 100%);position:absolute;top:0;left:-150px;transform:skewX(-28deg);}
.f11 .top .left .pic:hover:before{left:330px;transition:0.8s;}
.f11 .top .left .nav{width:305px;height:46px;background:#D5E0EC;position:relative;z-index:2;padding-left:25px;margin-top:-237px;}
.f11 .top .left .nav a:hover{color:#c81623;}
.f11 .top .left .nav a{width:98px;height:26px;margin:10px 0;display:block;float:left;font-size:14px;color:#666;line-height:26px;height:26px;}
.f11 .top .left .nav a i{width:26px;height:26px;display:block;margin-right:5px;float:left;background:url(../images/carsicon.png);}
.f11 .top .left .nav a .b{background-position: 0 -26px;}
.f11 .top .left .nav a .c{background-position:  0 -52px;}
.f11 .top .left .news {width:330px;height:191px;background:#E6ECF3;position:relative;z-index:2;}
.f11 .top .left .news .text{padding-top:22px;padding-left:25px;}
.f11 .top .left .news .text a{font:14px/24px "Microsoft YaHei";color:#666;height:24px;display:block;float:left;}
.f11 .top .left .news .text .a{width:160px;}
.f11 .top .left .news .text .b{width:135px;}
.f11 .top .left .nav1 ul{padding-top:6px;padding-left:20px;float:left;}
.f11 .top .left .nav1 .second {padding-left:13px;}
.f11 .top .left .news ul li a{padding:0 5px;font:14px/24px "宋体";color:#999;height:24px;}
.f11 .top .left .news  .a1{color:#c81623;}
.f11 .top .left .news a:hover{color:#c81623;}
.f11 .top .mid{width:440px;float:left;}
.f11 .top .mid  img{border-right:1px solid #ededed;border-bottom:1px solid #ededed;}
.f11 .top .mid .a1 img{width:219px;height:236px;}
.f11 .top .right{width:220px;float:left;}
.f11 .top .right img{width:219px;border-right:1px solid #ededed;border-bottom:1px solid #ededed;}
.f11 .bot{width:1210px;height:66px;background:#f7f7f7;margin-top:10px;}
.f11 .bot img{width:100px;height:41px;}
.f11 .bot a{padding:0 10px;margin:13px 0;display:block;float:left;border-left:1px dotted #ccc;}
.f11 .bot .first{border-left:none;}

.f12{font-size:0;}
.f12 .title{border-bottom:1px solid #c81623;margin-top:16px;}
.f12 .title h2{float:left;font-size:20px;color:#333;line-height:40px;height:40px;}
.f12 .title ul{float:right;border:1px solid #ededed;border-bottom:none;margin-top:5px;}
.f12 .title ul li{float:left;line-height:31px;height:31px;font-size:12px;font-family:"宋体";position:relative;border-top:3px solid #fff;border-left:1px solid #fff;border-right:1px solid #fff;}
.f12 .title ul li a{color:#666;display:block;padding:0 15px;height:31px;}
.f12 .title ul li i{width:1px;height:14px;background:#ccc;position:absolute;top:10px;right:-2px;z-index:2;}
.f12 .title ul li:hover{border-top:3px solid #c81623;border-left:1px solid #c81623;border-right:1px solid #c81623;z-index:3;margin-top:-1px;padding-top:1px;}
.f12 .title ul li:hover i{display:none;}
.f12 .title ul li:hover a{height:32px;background:#fff;height:32px;}
.f12 .top .left{width: 210px;height:474px;float:left;}
.f12 .top .left .pic{position:relative;width: 210px;height:474px;}
.f12 .top .left .pic img{width: 210px;height:474px;}
.f12 .top .left .pic:before{content:"";width:80px;height:330px;background:-moz-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.3) 50%,rgba(255,255,255,0) 100%);position:absolute;top:0;left:-150px;transform:skewX(-28deg);}
.f12 .top .left .pic:hover:before{left:210px;transition:0.5s;}
.f12 .top .left .nav a:hover{color:#c81623;}
.f12 .top .left .nav{width:185px;height:92px;background:#e1f7f9;position:relative;z-index:2;padding-left:25px;margin-top:-237px;}
.f12 .top .left .nav a{width:185px;height:26px;margin:10px 0;display:block;float:left;font-size:12px;color:#666;line-height:26px;height:26px;}
.f12 .top .left .nav a i{width:26px;height:26px;display:block;margin-right:5px;float:left;background:url(../images/lifeicon.png) ;}
.f12 .top .left .nav a .b{background:url(../images/lifeicon.png) 0 -26px;}
.f12 .top .left .nav a .c{background:url(../images/lifeicon.png) 0 -52px;}
.f12 .top .left .nav a .d{background:url(../images/lifeicon.png) 0 -78px;}

.f12 .top .left .news {width:210px;height:145px;background:#e9f9fa;position:relative;z-index:2;}
.f12 .top .left .news .text{padding-top:22px;padding-left:25px;}
.f12 .top .left .news .text a{font:14px/24px "Microsoft YaHei";color:#666;height:24px;display:block;}
.f12 .top .left .news .word{padding-top:6px;padding-left:20px;}
.f12 .top .left .news .word a{padding:0 5px;font:14px/24px "宋体";color:#999;height:24px;}
.f12 .top .left .news .word .a1{color:#c81623;}
.f12 .top .left .news a:hover{color:#c81623;}
.f12 .top .mid{float:left;width:395px;height:473px;}
.f12 .top .mid .a1 img{width:196px;height:115px;border-top:1px solid #f5f5f5;border-right:1px solid #ededed;border-bottom:1px solid #ededed;}
.f12 .top .mid .a2 img{width:197px;height:115px;border-top:1px solid #f5f5f5;border-right:1px solid #ededed;border-bottom:1px solid #ededed;}
.f12 .top .mid .a3 img{width:196px;height:118px;border-right:1px solid #ededed;border-bottom:1px solid #ededed;}
.f12 .top .mid .a4 img{width:197px;height:118px;border-right:1px solid #ededed;border-bottom:1px solid #ededed;}
.f12 .bot{width:1210px;height:66px;background:#f7f7f7;margin-top:10px;}
.f12 .bot img{width:100px;height:41px;}
.f12 .bot a{padding:0 10px;margin:13px 0;display:block;float:left;border-left:1px dotted #ccc;}
.f12 .bot .first{border-left:none;}

.f13 .left .pic:hover{transform:translate(-10px);}
.f13 .right .pic:hover{transform:translate(-10px);}
.f13  a:hover{color:#c81623;}
.f13  h2{font-size:20px;color:#666;line-height:40px;height:40px;font-weight:normal;padding-top:15px;}
.f13  h2 span{float:right;padding-right:227px;}
.f13  .left{width:200px;float:left;text-align:left;padding-left:39px;border:1px solid #e4e4e4;height:281px;}
.f13  .left .pic{margin-top:39px;margin-bottom:63px;transition: all 1s;}
.f13  .pp{font-size:12px;color:#666;line-height:17px;}
.f13  .price{font-size:17px;color:#e12228;line-height:36px;height:36px;}
.f13 .list{width:660px;float:left;border-bottom:1px solid #e4e4e4;}
.f13  .right{width:219px;float:left;border-right:1px solid #e4e4e4;border-top:1px solid #e4e4e4;height:140px;}
.f13  .right .pic{float:left;margin:10px 5px 0 10px;transition: all 1s;}
.f13  .right .pp{font-size:12px;color:#666;line-height:17px;margin-top:10px;}
.f13  .right.price{font-size:17px;color:#e12228;line-height:36px;}
.f13 a{color:#666;}


@keyframes d2{from{bottom:-840px;}to{bottom:0;}}
.f13  .last{width:308px;height:281px;overflow:hidden;float:left;border:1px solid #ededed;border-left:none;position:relative;}
.f13  .last ul{width:308px;height:1120px;position:absolute;left:0;bottom:280px;animation:d2 20s linear infinite;}
.f13  .last ul:hover{animation-play-state:paused;}


.f13  .last  ul li{width:308px;height:280px;}
.f13  .last  ul li .top{width:308px;height:140px;}

.f13  .last  ul li .pic{margin:49px  20px 0;float:left;}
.f13  .last  ul li .pic1{float:left;margin-right:8px;}

.f13  .last  ul li .top .text{padding-top:39px;float:left;}
.f13  .last  ul li .top .wenzi{background:#f8f8f8;width:165px;height:54px;margin-top:5px;position:relative;}
.f13  .last  ul li .top .wenzi a{font:12px/18px "宋体";color:#666;height:36px;display:block;padding:9px 20px 9px 0;}
.f13  .last  ul li .top .wenzi a:hover{color:#c81623;}
.f13  .last  ul li .top span{font:12px/27px "宋体";height:27px;color:#666;}
.f13  .last  ul li .top .wenzi i{font:35px/30px arial;height:30px;width:15px;display:block;float:left;color:#666;}
.f13  .last  ul li .top .wenzi .t{margin-left:5px;margin-top:10px;}
.f13  .last  ul li .top .wenzi .b{padding-left:95px;margin-top:-22px;}
.f13  .last  ul li .top .wenzi:before{content:"";width:10px;height:10px;position:absolute;left:-5px;top:25px;background:#f8f8f8;transform:rotate(45deg);}


.footer .top {background:#f5f5f5;height:94px;margin-top:20px;}
.footer .top  .inner a{display:block;float:left;width:220px;height:54px;margin:25px 70px 0 11px;}
.footer .top  .inner .a{background:url(../images/tututututut.png)  0 -130px;}
.footer .top  .inner .b{background:url(../images/tututututut.png)  0 -192px;}
.footer .top  .inner .c{background:url(../images/tututututut.png)  0 -258px;}
.footer .top  .inner .d{background:url(../images/tututututut.png)  0 -322px;}
.footer .mid dl{float:left;width:192px;padding-top:15px;}
.footer .mid dt{font-size:16px;color:#666;line-height:35px;height:35px;}
.footer .mid dd{font:12px/20px "宋体";color:#666;height:20px;}
.footer .mid dd a{color:#666;}
.footer .mid dd a:hover{color:#c81623;}
.footer .mid h2{font-size:16px;color:#666;line-height:53px;height:53px;font-weight:normal;}
.footer .mid p{font:12px/20px "宋体";color:#666;width:183px;}
.footer .mid .pp{text-align:right;}
.footer .mid .pp a{color:#666;}
.footer .mid .pp a:hover{color:#c81623;}
.footer .mid .ditu{background:url(../images/china.png) no-repeat 0 -131px;width:247px;float:left;padding-top:5px;height:176px;}
.footer .bot {text-align:center;border-top:1px solid #e5e5e5;margin-top:32px;}
.footer .bot .p1 {font-size:12px;line-height:38px;font-family: arial,"宋体"; color:#666;height:38px;padding-top:10px;}
.footer .bot .p1 span{padding:0 10px;}
.footer .bot .p2{font:12px/20px "宋体";color:#666;height:20px;vertical-align:middle;}
.footer .bot .p2 span{padding:0 6px;}
.footer .bot .p3{font:12px/14px "宋体";color:#666;height:14px;}
.footer .bot .p4{font:12px/22px "宋体";color:#666;height:22px;}
.footer .bot .pic a{padding-left:13px;}
.footer .bot .pic{padding-top:8px;padding-bottom:32px;}
.footer .bot p a{color:#666;font-size:12px;font-family:"宋体";}
.footer .bot p a:hover{color:#c81623;}

.floor{position:fixed;left:50%;top:200px;margin-left:-635px;width:25px;}
.floor ul li{font-size:12px;color:#666;line-height:30px;height:30px;border-bottom:1px dotted #ccc;width:25px;position:relative;text-align:center;}
.floor ul li a{color:#666;}
.floor ul li i{background:#c81623;font-size:12px;color:#fff;line-height:30px;height:30px;width:25px;position:absolute;left:0;top:0;display:none;}
.floor ul .ac i{display:block;}

.floor2{position:fixed;right:0;top:0;border-right:6px solid #7a6e6e;}
.floor2 ul {margin-top:220px;}
.floor2 ul li{position:relative;margin-bottom:1px;transition:all 1s;}
.floor2 ul li a{display:block;width:29px;height:35px;background:#756b6b url(../images/toolbars.png)  -90px -173px;border-radius:3px 0 0 3px;}
.floor2 ul .b {background-position: -53px -2px;}
.floor2 ul .c {background-position: -52px -50px;}
.floor2 ul .d {background-position: -52px -100px;}
.floor2 ul .e {background-position: -191px -150px;}
.floor2 ul .f {background-position: -52px -151px;}
.floor2 ul .l {background-position: -50px -250px;}
.floor2 ul .m {background-position: -90px -147px;}
.floor2 ul li i{background:#c81623;font-size:12px;color:#fff;line-height:35px;height:35px;width:70px;position:absolute;right:28px;top:0;opacity:0;text-align:center;border-radius:3px 0 0 3px;}

.floor2 ul li:hover i{opacity:0.9;}
.floor2 ul li:hover .a{background:#c81623 url(../images/toolbars.png) -90px -173px;}
.floor2 ul li:hover .b {background:#c81623 url(../images/toolbars.png) -53px -2px;}
.floor2 ul li:hover .c {background:#c81623 url(../images/toolbars.png) -52px -50px;}
.floor2 ul li:hover .d {background:#c81623 url(../images/toolbars.png) -52px -100px;}
.floor2 ul li:hover .e {background:#c81623 url(../images/toolbars.png) -191px -150px;}
.floor2 ul li:hover .f {background:#c81623 url(../images/toolbars.png) -52px -151px;}
.floor2 ul li:hover .l {background:#c81623 url(../images/toolbars.png) -50px -250px;}
.floor2 ul li:hover .m {background:#c81623 url(../images/toolbars.png) -90px -147px;}
.floor2 .two{margin-top:55px;}
.floor2 ul .n {background:#c81623;color:#fff;font-size:12px;line-height:17px;height:34px;width:29px;text-align:center;}































