@charset "utf-8";
/* CSS Document */
.banner .left{padding:0 15px;width:825px;float:left;}
.banner .right{padding:0 15px;width:255px;float:left;}
.banner .left h2{color:#010101;font-size:20px;line-height:28px;height:28px;padding-top:39px;font-weight:normal;}
.banner .left p{color:#a1a1a1;font-size:12px;line-height:42px;height:42px;}
.banner .left p span{color:#eb7662;}
.banner .left .pic img{width:813px;height:417px;border:6px solid #ed5844;}
.banner .left .pic{position:relative;width:825px;height:429px;}
.banner .left .pic .box{position:absolute;right:0;bottom:0;width:86px;height:41px;}
.banner .left .pic .box .jan{width:41px;height:40px;background:url(../images/s-icons.png) no-repeat -288px -122px;float:right;}
.banner .left .pic .box .photo{width:42px;height:41px;background:url(../images/s-icons.png) no-repeat -239px -122px;float:left;}
.banner .left h3{line-height:41px;height:41px;font-size:15px;color:#7b8084;font-weight:normal;}
.banner .left h3 span{color:#ed5746;}
.banner .left .p2{font-size:12px;color:#9a9a9a;line-height:23px;width:735px;}

.banner .right h2{font-size:16px;color:#000100;line-height:50px;height:50px;}
.banner .right .title h2{line-height:68px;height:68px;padding-top:17px;}
.banner .right .form{border:1px solid #dbdbdb;height:42px;margin-bottom:11px;background:#fff;}
.banner .right .form .text{font-size:12px;color:#989898;line-height:42px;height:42px;width:195px;padding:0 15px;float:left;}
.banner .right .form .submit{width:28px;height:42px;background:url(../images/search.png) no-repeat left center;float:left;}
.banner .right dl dt{font-size:16px;color:#000100;line-height:54px;height:54px;font-weight:bolder;}
.banner .right dl dd{font-size:12px;color:#9b9d9a;line-height:23px;height:23px;background:url(../images/b_arrow.png) no-repeat left center;padding-left:23px;}
.banner .right .list .pic{margin-top:5px;}
.banner .right .list .pic img{width:114px;height:73px;}
.banner .right .list .pic a{margin-right:12px;margin-bottom:8px;}
.main {padding-left:16px;}
.main .form{width:808px;padding-left:7px;}
.main  h2{font-size:20px;color:#282826;line-height:47px;height:47px;padding-top:20px;font-weight:normal;}
.main  .form h3{font-size:15px;color:#1b1b1b;line-height:24px;height:24px;font-weight:normal;padding-top:16px;}

.main  .form .text{width:776px;height:38px;font-size:14px;color:#454545;line-height:38px;padding:0 16px;background:#eee;color:#454545;}
.main  .textarea{width:808px;height:150px;background:#eee;}
.main  .submit{font-size:22px;color:#fff;width:145px;height:51px;background:#ed5844;margin-top:16px;margin-bottom:35px;line-height:51px;cursor:pointer;border-radius:4px;}


.main .hh{font-size:26px;color:#282826;line-height:61px;height:61px;font-weight:normal;}
.main .text1{padding:17px 0 24px 15px;border:1px solid #d4d4d4;width:823px;height:199px;}
.main .text1 .pic{float:left;margin-right:47px;width:158px;height:158px;}
.main .text1 .pic img{width:158px;height:158px;}

.main .text1 h3{font-size:14px;color:#50504e;line-height:16px;height:16px;}
.main .text1 p{font-size:12px;color:#919191;line-height:23px;width:753px;}
.main .text1 .pp{font-size:12px;color:#c3c3c3;line-height:39px;height:39px;}
.main .text1 .button{width:99px;height:43px;background:#ed5844;font-size:16px;line-height:43px;float:right;text-align:center;position:relative;right:97px;bottom:25px;}
.main .text1 .button a{color:#fff;}
.main .last{margin-top:40px;margin-bottom:82px;}