@charset "utf-8";
/* CSS Document */

@media screen and (max-width:980px){.wrap{width:96%;}article{width:61%;padding:0 3%;}aside{width:24%;}article img{width:100%;}article p{width:auto;}}
@media screen and (max-width:640px){nav form{position:absolute;top:12%;right:0;}nav form input{width:70px;}input:focus{width:130px;}article{float:none;width:auto;}aside{float:none;width:auto;margin-top:20px;}}
@media screen and (max-width:480px){nav .menu{display:block;}nav ul{display:none;}}


